<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <a routerLink="/">MEAN</a></span>
        <span class="spacer"></span>
        <span>
            <ul>
                <li>
                    <a mat-button routerLink="/add" routerLinkActive="mat-accent">Add Company</a>
                </li>
                <li>
                    <a mat-button routerLink="/signin" routerLinkActive="mat-accent">Sign In</a>
                </li>
                <li>
                    <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
                </li>
            </ul>
        </span>
    </mat-toolbar-row>
</mat-toolbar>